@using Microsoft.AspNetCore.Http;
@{
    var siteName = "格蛇社";
    var cssPath = $"/css/{ViewBag.Ref}.css";
    var jsPath = $"/js/{ViewBag.Ref}.js";
    var session = ViewContext.HttpContext.Session;
    var userId = session.GetString("UserId");
    var userKind = session.GetString("UserKind");
    var userName = session.GetString("UserName");
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - @siteName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="@cssPath" />
    <script src="@jsPath"></script>
    <link rel="stylesheet" href="~/css/shared.css" />
    <script src="~/js/shared.js"></script>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-md navbar-light s_navbar s_nav-bg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="~/res/snake.png" width="30" height="30" class="d-inline-block align-top" />
                @siteName
            </a>
            <div>Welcome</div>&ensp;@userName&ensp;@userKind
            @if(userName != null)
            {
                <button class="btn btn-link" onclick="logout()">退出</button>
            }
            else
            {
                <button class="btn btn-link" onclick="login()">登录</button>
            }
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" id="navigation">
                </ul>
                <form class="form-inline navbar-nav my-2 my-lg-0">
                </form>
            </div>
        </div>
    </nav>
    <script>
        function logout() {
            $.post("/Login/Logout", function () {
                alert("success");
                window.location.href = "/location";
            })
        }
        function login() {
            window.location.href = "/Login";
        }
    </script>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted"style="clear:both;">
        <div class="container"style="clear:both;">
            &copy; 2020 - EpidemicManager - Privacy
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
